body {
    margin: 0 auto;
    padding: 0;
    background: #222;
}

.left {
    left: 25px;
}

.right {
    right: 25px;
}

.center {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 25px;
}

#gradient {
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    height: 150px;
}

#gradient:after {
    content: "";
    position: absolute;
    background: #E9E2D0;
    left: 50%;
    margin-top: -67.5px;
    margin-left: -270px;
    padding-left: 20px;
    border-radius: 5px;
    width: 520px;
    height: 275px;
    z-index: -1;
}

#card {
    width: 450px;
    height: 225px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 67.5px;
    margin-left: -250px;
    background: #E9E2D0;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
}

#card img {
    width: 50px;
    float: left;
    border-radius: 5px;
    margin-right: 5px;
}

#card h2 {
    font-family: courier;
    color: #333;
    margin: 0 auto;
    padding: 0;
    font-size: 15pt;
}

#card p {
    font-family: courier;
    color: #555;
    font-size: 13px;
}

#card span {
    font-family: courier;
}
/***********Estilos dashboard*****************/
  /*Notificacion*/
  .notify::before {
    position: absolute;
    content: attr(data-count);
    top: -7px;
    right: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    padding: 3px 5px;
    background: linear-gradient(#ff1a1a, #ff0000, #e60000);
    border-radius: 10px;
    line-height: 100%;
}

.notify.add-numb::before {
    opacity: 1;
}

/*************/


.tamano-1 {
    width: 100px;
    height: 88px;
}

img {
    width: 80px;
    float: left;
    border-radius: 5px;
    margin-right: 5px;
}

.cuadro {
    font-size: 0.6rem;
    display: inline-block;
    margin: 0px;
}

label.labelito {
    font-size: 0.6rem;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

p.pesito {
    font-size: 0.6rem;
    display: inline-block;
    margin: 0rem;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1px;
    /*-1px;*/
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}
